.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img {
  width: 54%;
}
.form {
  width: 100%;
  position: relative;
  text-align: center;
  display: inline-block;
}
.navbar-brand {
  margin: 100px;
  text-align: center;
}

.website {
  color: #053a49;
}
.navbar {
  margin: 20px;
}
.project {
  font-size: 30px;
  font-weight: 300;
  background-color: antiquewhite;
  margin: 20px;
}
.finder {
  font-size: 30px;
  font-weight: 300;
}
.mojo {
  font-size: 30px;
  font-weight: 300;
}
.finders {
  margin: 10px;
}
.mojos {
  margin: 10px;
}
/* .nav {
  margin: 20px;
  text-align: center;
} */
